:root {
  
  /* colours */
  /*--fg: #444;
  --bg: #fafafa;*/
  --fg: #506060;
  --fg-sup: #304040;
  --fg-sub: #93a1a1;
  --bg: #fdf6e3;
  --bg-sup: #fef8f5;
  --bg-sub: #dbd4c1;
  
  --link: #5881C6;
  --linkv: #577299;
  --contrast: #C87718;
  --footer-start: var(--bg-sub);
 
  
  /* dimensions */
  --gutter: 2rem;
  --mag-min-width: 30rem;
  --vp-height:100vh;
  --nav-height:0;
  
  /* typography */
  --font-default: georgia;
  --font-size: 18px;
  --font-default-line: 1.45;
  --font-display: "Hoefler Text",georgia;
}

@media (prefers-color-scheme: dark) {
  :root {
    
    /* sections */
    --fg: #9cafb9;
    --fg-sup: #fff;
    --fg-sub: #586e75;
    --bg: #001a25;
    --bg-sup: #000910;
    --bg-sub: #224d58; 
    
    --link: #ccf;
    --linkv: #99c;
    --contrast: #935129;
    --footer-start: var(--bg-sup);  
  }
}