:root {
  
  /* colours */
  --fg: #333;
  --bg: #fff;
  --bg-alt: #e0e0e0;
  
  --link: #082840;
  --linkv: #17050F;
  
  /* dimensions */
  --gutter: 2rem;
  --mag-min-width: 30rem;
  --vp-height:100vh;
  --nav-height:0;
  
  /* typography */
  --font-default: georgia;
  --font-default-line: 1.45;
  --font-display: "Hoefler Text",georgia;
}

@media (prefers-color-scheme: dark) {
  :root {
    
    /* sections */
    --fg: #fff;
    --bg: #111;
    --bg-alt: #333; 
    
    --link: #ccf;
    --linkv: #99c;
  }
}