:root {
  
  /* colours */
  /*--fg: #444;
  --bg: #fafafa;*/
  --fg: #506060;
  --fg-sup: #304040;
  --fg-sub: #93a1a1;
  --bg: #fdf6e3;
  --bg-sup: #fef8f5;
  --bg-sub: #dbd4c1;
  
  --link: #082840;
  --linkv: #17050F;
  
  /* dimensions */
  --gutter: 2rem;
  --mag-min-width: 30rem;
  --vp-height:100vh;
  --nav-height:0;
  
  /* typography */
  --font-default: georgia;
  --font-default-line: 1.45;
  --font-display: "Hoefler Text",georgia;
}

@media (prefers-color-scheme: dark) {
  :root {
    
    /* sections */
    /*--fg: #fff;
    --bg: #111;*/
    --fg: #9cafb9;
    --fg-sup: #fff;
    --fg-sub: #586e75;
    --bg: #002b36;
    --bg-sup: #224d58;
    --bg-sub: #001a25; 
    
    --link: #ccf;
    --linkv: #99c;
  }
}