.footer {
  margin-top: 2em;
  padding: var(--gutter) 0;
  color: #999;
  color: var(--fg-sub);
  background: #eee;
  background: linear-gradient(var(--footer-start), var(--bg));
  font-size: var(--font-post-size);
  & h3,
  & b,
  & i {
    color: var(--fg-sub);
  }
  &__inner {
    display: grid;
    max-width: 40rem; /* fallback */
    max-width: var(--post-width);
    margin: 0 auto;
    padding: 0 var(--gutter);
    overflow: hidden;
    @media (min-width: 600px) {
      grid-template-columns: repeat(10, 10%);
      gap: 1em;
    }
  }
  @media (min-width: 768px) {
    &__author {
      grid-area: 1 / 1 / 1 / 5;
    }
    &__social {
      grid-area: 1 / 5 / 1 / 9;
    }
    &__cookies {
      grid-area: 2 / 1 / 2 / 5;
    }
    &__settings {
      grid-area: 2 / 5 / 2 / 9;
    }  
  }
}

.social {
  font-style: normal;
  &__list {
    margin: -0.5em 0 0.5em;
    padding: 0;
  }
  &__item {
    list-style: none;
    padding: 0.5em 0;
  }
  &__link {
  }
  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    margin-right: 0.25em;
    text-decoration: none;
  }
}