
.header {
  overflow:hidden;
  position: fixed;
  display: flex;
  align-items: middle;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  max-width: 100%;
  height:3rem;
  padding: 0 1em;
  border-bottom: 1px dashed var(--bg-sub);
  line-height: 1rem;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: var(--bg);
    opacity: 0.3;
  }
  &__home {
    display: block;
    font-size: 1rem;
    font-family: var(--font-display);
    font-style: italic;
    font-weight: 800;
    letter-spacing: -0.05em;
    height: 3rem;
    margin: 0;
    padding: 1em 0.5em 0 0;
    & a[href] {
      display: block;
      color: var(--fg-sub);
      text-decoration: none;
    }
    &__icon {
      margin-right: 0.33em;
    }
  }
  &__doppel {
    position: fixed;
    top: 0;
    left: 0;  
    height: 0;
    & a[href]  {
      color: #fff;
      text-shadow: 0 0.1em 0.5em rgba(0,0,0,0.3);
      margin: 0 1em;
      -webkit-backdrop-filter: blur(1px);
      backdrop-filter: blur(1px);
    }
    &--hidden {
      display: none;
    }
  }
}

.post-title-scrolled {
  height: 3rem;
  font-family: "Hoefler Text",georgia;
  font-size: 1rem;
  font-style: italic;
  letter-spacing: -0.05em;
  overflow: hidden;
  &__inner {
    display: block;
    max-width: 100%;
    padding: 0 0.1em;
    transform: translateY(2em);
    transition: transform 300ms;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &--active {
        transform: translateY(0);
    }
  }
}