
header {
  border-bottom: 1px dashed var(--bg-sub);
  height:3rem;
  overflow:hidden;
  position: fixed;
  display: flex;
  align-items: middle;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0 var(--gutter);
  line-height: 1rem;
  -webkit-backdrop-filter: blur(7px) ;
  backdrop-filter: blur(5px) ;
  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: var(--bg);
    opacity: 0.3;
  }
}
.home {
  font-size: 1rem;
  font-family: var(--font-display);
  font-style: italic;
  font-weight: 800;
  letter-spacing: -0.05em;
  height: 3rem;
  margin: 0;
  padding: 1em 0.5em 0 0;
  & a[href] {
    display: block;
    color: var(--fg-sub);
    text-decoration: none;
  }
}
.post-title-scrolled {
  height: 3rem;
  font-family: "Hoefler Text",georgia;
  font-size: 1rem;
  font-style: italic;
  letter-spacing: -0.05em;
  overflow: hidden;
  &__inner {
    display: block;
    padding: 0 0.1em;
    transform: translateY(2em);
    transition: transform 300ms;
    &--active {
        transform: translateY(0);
    }
  }
}