.home {
  --flex-gap: var(--gutter);
  
  font-size: clamp(1rem, calc(0.6rem + 1vw), 2rem);
  max-width: calc(1400px + var(--gutter) + var(--gutter));
  margin: 0 auto;
  padding: 0 var(--gutter);
  &__title {
    
  } 
  &__blurb {
    
  }
  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--flex-gap);
    margin: var(--gutter) 0;
    padding: 0;
    list-style: none;
    &__item {
      flex: 1 1 calc(50% - var(--flex-gap));
      margin: 0;
      padding: 0;
      @media (min-width: 600px) {
        flex: 1 1 calc(33% - var(--flex-gap));
      }
      @media (min-width: 900px) {
        flex: 1 1 calc(25% - var(--flex-gap));
      }
      @media (min-width: 1400px) {
        flex: 1 1 calc(20% - var(--flex-gap));
      }
    }
    &__link[href] {
      text-decoration: none;
      color: inherit !important;
    }
    &__text {
      margin: 1rem 0 0;
    }
    &__title {
      margin: 0;
      font-size: 1.2em;
    }
    &__date {
      display: block;
      margin: 0 0 0.5rem;
    }
  }
}