.page {
  font-size: clamp(1rem, calc(0.6rem + 1vw), 2rem);
  max-width: calc(1400px + var(--gutter) + var(--gutter));
  margin: 0 auto;
  padding: 0 var(--gutter);
  .header + & {
    margin-top: 4rem;
  }
  &__title {
    
  } 
  &__blurb {
    
  }
}