.ruler-vh {
  position: absolute;
  z-index: -1;
  width: 0;
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}

.mag {
  
  & body {
    position: fixed;
    height: var(--vp-height);
    width: 100%;
    overflow: scroll;
  }
  
  & footer {
    scroll-snap-align: start;
    min-height: var(--vp-height);
    padding-top: 80px;
  }
  
  &__trim {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4rem var(--gutter) var(--gutter);
  }
  & .mag__trim {
    height: 100vh;
  } 
  
  &__textbox {
    opacity: 0;
    transition: opacity 200ms;
    transition-delay: 200ms;
    line-height: 1.4;
  }
  & .mag__textbox {
    columns: 17.5em;
    column-fill: auto;
    column-gap: 2em;
    font-size:0.8em;
    overflow: hidden;
    opacity: 1;
    scroll-snap-align: start;
  }
  & .mag__textbox:not(:last-of-type) { 
    border-bottom: 1px solid var(--bg-alt);
  }
  & .mag__textbox p {
    margin-top: 0;
    text-align: justify;
  }
  & .mag__textbox blockquote p {
    text-align: left;
  }
  
 
  
  &__counter {
    position: absolute;  
    top: 50%;
    right: var(--gutter);
    display: flex;
    height: 1em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms;
    
    &--active {
      opacity: 1;
    }
    
    &__current,
    &__delim,
    &__total {
      position: relative;
      display: inline-block;
      height: 1em;    
      overflow: hidden;
      line-height: 1;
      top: -0.5em;
    }
    
    &__current {
      text-align: right;
      &__inner {
        display: block;
        transition: transform 500ms;
      }
      &  span {
        display: block;
      }
    }
    
    &__delim {
      padding: 0 0.25em;
      font-style: italic;
    }
  } 
}