.post {
  &__title,
  &__meta,
  &__content {
    max-width:40rem;
    margin: 0 auto;
    padding: 0 var(--gutter);
  }
  &__title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &__content {
    font-size: clamp(1rem, calc(0.6rem + 1vw), 2rem);
    line-height: var(--font-default-line);
    & h3:first-child,
    & figure + h3 {
      margin-top: 0px;
    }
  }
}