.post {
  position: relative;
  display: block;
  max-width:40em;
  margin: 0 auto;
  padding: 4rem var(--gutter) var(--gutter);
  line-height: var(--font-default-line);
  font-size: clamp(1rem, calc(0.6rem + 1vw), 2rem);
  & time + h1 {
    margin-top: 0.5rem;
  }
  & h3:first-child,
  & figure + h3 {
    margin-top: 0px;
  }
  &__meta + h1 {
    margin-top: 0.5rem;
  }
}