/* 
 * Tags
 */

.post__meta {
  & time {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em 0.2em 0;
    font-style: italic;
    letter-spacing: 0.1em;
  }
}
.posttags:empty {
  display: none;
}
.post__tags {
  display: inline-block;
  vertical-align: middle;
}
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 0.625em;
  font-weight: bold;
  padding: 0.15em 0.5em 0.25em;
  margin-right: 0.8em;
  background-color: var(--bg-sub);
  border-radius: 0.25em;
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: var(--bg-sup);
}

/* 
 * Direct Links in headers 
 */

.direct-link {
  position: relative;
  color: var(--fg);
  font-family: sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  text-decoration: underline;
  transition: opacity 800ms;
}
a[href].direct-link,
a[href].direct-link:visited {
  opacity: 0.3;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  opacity: 1;
  transition: opacity 100ms;
}