.ruler-vh {
  position: absolute;
  z-index: -1;
  width: 10px;
  top:0;
  /*bottom:0;*/
   height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}

.mag {
  
  & body {
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    /*height: var(--vp-height);*/
    /*width: 100%;*/
    overflow: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;  
  }
  
  & footer {
    scroll-snap-align: start;
    min-height: var(--vp-height);
    padding-top: 80px;
  }
  
  &__trim {
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    padding-top: 4rem;
    &#page1 {
    padding-top: 0;
    }
  }
  & .mag__trim {
    height: var(--vp-height);
  }
  &__hero {
    flex: 1 0 auto;
  } 
  &__byline,
  &__title {
    width: 100%;
    max-width: 999em;
    padding: 0 var(--gutter);
  }
  
  &__textbox {
    flex: 0 1 100%;
    padding: 0 var(--gutter) var(--gutter);
    /*opacity: 0;*/
    transition: opacity 200ms;
    transition-delay: 200ms;
    line-height: 1.4;
  }
  & .mag__textbox {
    columns: 15.5em;
    column-fill: auto;
    column-gap: var(--gutter);
    font-size: 0.75rem;
    overflow: hidden;
  }
  & .mag__textbox:not(:last-of-type) { 
    border-bottom: 1px solid var(--bg-sub);
  }
  & .mag__textbox :first-child {
    margin-top: 0;
  }
  & .mag__textbox p {
    margin-top: 0;
    text-align: justify;
  }
  & .mag__textbox blockquote p {
    text-align: left;
  }
  
 
  
  &__counter {
    position: absolute;  
    top: 50%;
    right: var(--gutter);
    display: flex;
    height: 1em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms;
    
    &--active {
      opacity: 1;
    }
    
    &__current,
    &__delim,
    &__total {
      position: relative;
      display: inline-block;
      height: 1em;    
      overflow: hidden;
      line-height: 1;
      top: -0.5em;
    }
    
    &__current {
      text-align: right;
      &__inner {
        display: block;
        transition: transform 500ms;
      }
      &  span {
        display: block;
      }
    }
    
    &__delim {
      padding: 0 0.25em;
      font-style: italic;
    }
  } 
}