.post__hero {
  /* column-span: all; */
  position: relative;
  z-index: 10;  
  margin: 0 auto var(--gutter);
  display: block;
  max-width: 1600px;
  overflow: hidden;
  & img {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
  }
}