.postlist {
    list-style: none;
    padding: 0;

    &:before {
        display: inline-block;
        pointer-events: none;
        content: "" counter(start-from, decimal-leading-zero) ". ";
        line-height: 100%;
        text-align: right;
    }

    &-item {
        counter-increment: start-from -1;
    }
    &-date,
    &-item:before {
        font-size: 0.8125em; /* 13px /16 */
    }
    &-date {
        word-spacing: -0.5px;
    }
    &-link {
        display: inline-block;
        padding: 0.25em 0.1875em; /* 4px 3px /16 */
    }
    &-item-active &-link {
        font-weight: bold;
    }
    .tmpl-home &-link {
        font-size: 1.1875em; /* 19px /16 */
        font-weight: 700;
    }
}


