.post {
  font-size: var(--font-post-size);
  &__content {
    max-width: 40rem; /* fallback */
    max-width: var(--post-width);
    margin: 0 auto;
    padding: 0 var(--gutter);
  }
  &__title {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    &::before {
      @media (min-width: 56em) {
        @supports (font-family: "bodoni ornaments") {
          display: inline-block;
          margin-left: -1.15em;
          font-family: "bodoni ornaments";
          font-size: 1em;
          line-height: 0.8;
          content:'•';
          transform: rotate(180deg) translateX(0.15em)  translateY(0.05em);
        }
      }
    }
  }
  &__sub {
    margin-top: 0;
  }
  &__content {
    line-height: var(--font-default-line);
    & h3:first-child,
    & figure + h3 {
      margin-top: 0px;
    }
  }
  &>.mag__byline:first-child { /* if the hero is missing, move the byline down under the header */
    margin-top:4rem;
  }
}
