@import './_variables.css';
@import './scaffold.css';
@import './header.css';
@import './footer.css';
@import './cookies.css';
@import './page.css';
@import './post-furniture.css';
@import './post-list.css';
@import './post-detail.css';
@import './post-detail-mag.css';
@import './post-detail-image.css';
@import './modal.css';

.nav {
  display: none;
}
.warning {
  display: none;
}
.otherposts {
  display: none;
}

/*
 * CODE
 */

@import './prism-base16-monokai.dark.css';

pre[class*="language-"] {
  padding: 0.75em 0.5em;
  font-size:1em;
}
code[class*="language-"] {
  font-size:0.8em;
}
pre > code {
  -webkit-text-size-adjust: none;
}