<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>

    <!-- META SEM/SHARING  -->
    <meta name="description" content="{{ description or metadata.description }}" />
    <meta property="og:url" content="{{ page.url }}?utm_source=og%3Ashare&amp;utm_medium=social" />
    <meta property="og:description" content="{{ description or metadata.description }}" />
    <meta property="og:title" content="{{ title or metadata.title }}" />
    <meta property="og:site_name" content="{{ metadata.title }}" />
    <meta property="og:image" content="/imgs/{{ hero }}-tb.jpeg" />
    <meta property="og:image:width" content="665" />
    <meta property="og:image:height" content="500" />
    <meta itemprop="name" content="{{ title or metadata.title }}" />
    <meta itemprop="description" content="{{ description or metadata.description }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="robots" content="index,follow" />
    <meta name="DC.Language" content="en" />

    <!-- META APP  -->
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#fdf6e3" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#001a25" media="(prefers-color-scheme: dark)" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
   <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="{{ metadata.title }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="{{ metadata.title }}" />
    <meta name="apple-mobile-web-app-title" content="{{ metadata.title }}" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#000000" />
    <meta name="msapplication-config" content="none" />
    <meta name="msapplication-navbutton-color" content="#ffffff" />
    <meta name="msapplication-starturl" content="/" />
    <meta name="msapplication-TileColor" content="#001a25" />
    
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
  
    <script src="/js/viewport.js" async></script>
  
    <header class="header">
    
      <h3 class="header__home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h3>
      <h3 class="post-title-scrolled">
        <span class="post-title-scrolled__inner">here here here</span>
      </h3>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <address class="footer-author">
        <em>pixelthing</em> is the personal blog of <span rel="author">Craig Morey</span> - data analyst snd visualiser from Gothenburg, Sweden. 
        <div> Blog template is my own, feel free to view source and use it for 
      </address>
      non-commercial reasons.</div>
    </footer>
    
    <script src="/js/post-title-scroll.js" async></script>

    <!-- Current page: {{ page.url | url }} -->
    
  </body>
</html>
