---
layout: layouts/base.njk
templateClass: page
hideHeader: true
---

<h1 class="home__title">{{ metadata.title }}.</h1>

<section class="home__blurb">
  Hi, I'm Craig Morey, a data analyst & developer from Gothenburg, Sweden (but originally from the UK). This is my place for collecting ramblings and curiosities, you're welcome/välkomna!
</section>

{% set postslist = collections.posts %}
{% set postslistCounter = collections.posts | length %} 

{% include "postslist.njk" %}

