---
layout: layouts/base.njk
templateClass: page
hideHeader: true
---

<h1 class="home__title">{{ metadata.title }}.</h1>

<section class="home__blurb">
  I'm <span rel="author">Craig Morey</span>, a data analyst & developer at <a href="https://www.polestar.com?utm_campaign=craigs.blog" target="_blank" rel="noopener">Polestar</a> in Gothenburg, Sweden (but originally from the UK). This is my place for collecting ramblings and curiosities, you're welcome/välkomna!
</section>

{% set postslist = collections.posts %}
{% set postslistCounter = collections.posts | length %} 

{% include "postslist.njk" %}

